<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>URL Webscraper</title>
    <link href="{{url_for('static', filename="bootstrap.min.css")}}" rel="stylesheet" />
    <script src="{{url_for('static', filename="bootstrap.bundle.min.js")}}"></script>

    <style>
      a {
        color: cornflowerblue;
        font-weight: bold;
        background-color: #334373;
        text-decoration: none;
        padding: 0.1rem 0.4rem;
        border-radius: 0.3rem;
      }
      a:hover {
        color: #fefefe;
      }
      #description-result {
        background-color: #1b1f22;
        transition:
          border-color 0.5s ease-out,
          opacity 0.5s ease-out;
        border: 2px solid transparent;
        opacity: 1;
      }
      #categories-result {
        background-color: #1b1f22;
        transition:
          border-color 0.5s ease-out,
          opacity 0.5s ease-out;
        border: 2px solid transparent;
        opacity: 1;
      }
      .highlight-blue {
        border-color: var(--bs-primary) !important;
        opacity: 1 !important;
      }
      .highlight-green {
        border-color: green !important;
        opacity: 1 !important;
      }
      #checkbox {
        width: 1rem;
        height: 1rem;
      }
      #copy-button-desc {
        border-radius: 0px !important;
      }
      #copy-button-cat {
        border-radius: 0px !important;
      }
    </style>
  </head>
  <body class="bg-dark">
    <header class="bg-dark d-flex flex-column align-middle">
      <p class="py-1 lead text-center text-white fw-semibold">URL Webscraper</p>

      <nav class="d-flex justify-content-center gap-2">
        <a class="text-center" href="/url">URL Webscraper</a>
        <a class="text-center" href="/description"
          >Categorize Description</a
        >
      </nav>
    </header>

    <main class="py-2">
      <section id="interaction" class="container">
        <form>
          <label for="company-url" class="text-white h5"
            >Webscrape Company URL</label
          >
          <textarea
            id="company-url"
            class="form-control my-2"
            style="height: 2rem"
            type="text"
            placeholder="Enter the company URL"
          ></textarea>

          <div>
            <label for="checkbox" class="text-white">Categorize</label>
            <input id="checkbox" type="checkbox" checked class="align-middle" />
          </div>
          <div>
            <label for="slider" class="text-white">Description length</label>
            <input id="slider" type="range" value="1" min="1" max="4" class="align-middle" />
            <span id="slider-value" class="text-white">1 sentence</span>
          </div>

          <button
            id="generate-description"
            type="button"
            class="btn btn-primary mt-4"
          >
            Generate Description
          </button>
        </form>

        <section
          id="company-description"
          class="text-white mt-4 d-flex flex-column"
        >
          <h5>Description</h5>
          <div id="description-result" class="d-flex align-items-end">
            <span
              class="d-flex overflow-auto"
              id="description-result-append"
              style="height: 16rem"
            ></span>
            <button
              id="copy-button-desc"
              class="btn btn-primary ms-auto"
              style="height: auto"
            >
              Copy
            </button>
          </div>
        </section>

        <section id="company-categories" class="text-white mt-4">
          <h5>Categories</h5>
          <div id="categories-result" class="d-flex">
            <span
              class="d-flex align-items-center overflow-auto"
              id="categories-result-append"
            ></span>
            <button id="copy-button-cat" class="btn btn-primary ms-auto">
              Copy
            </button>
          </div>
        </section>
      </section>
    </main>
  </body>

  <script>
    const copyButtonDesc = document.getElementById("copy-button-desc");
    const copyButtonCat = document.getElementById("copy-button-cat");

    copyButtonDesc.addEventListener("click", () => {
      const copyText = document.getElementById("description-text");
      const destContainer = document.getElementById("description-result");

      if (copyText) {
        navigator.clipboard.writeText(copyText.textContent);
        copyButtonDesc.innerHTML = "Copied";

        destContainer.classList.add("highlight-blue");
        setTimeout(() => {
          destContainer.classList.remove("highlight-blue");
        }, 500);
      }
    });

    copyButtonCat.addEventListener("click", () => {
      const copyText = document.getElementById("categories-text");
      const destContainer = document.getElementById("categories-result");

      if (copyText) {
        navigator.clipboard.writeText(copyText.textContent);
        copyButtonCat.innerHTML = "Copied";

        destContainer.classList.add("highlight-blue");
        setTimeout(() => {
          destContainer.classList.remove("highlight-blue");
        }, 500);
      }
    });
  </script>

  <script>
    // Click 'Enter' button to click button
    document.getElementById("company-url").addEventListener("keydown", (e) => {
      if (e.key === "Enter") {
        e.preventDefault();
        document.getElementById("generate-description").click();
      }
    })

    const slider = document.getElementById("slider");
    const sliderValueSpan = document.getElementById("slider-value");
    
    slider.addEventListener("input", () => {
      const sentences = slider.value;
      let text = `${sentences} sentence`
      if (sentences > 1) {
        text += "s";
      }
      sliderValueSpan.textContent = text;
    })
    
    const checkbox = document.getElementById("checkbox");
    checkbox.addEventListener("change", (e) => {
      const categoriesContainer = document.getElementById("company-categories");

      if (e.target.checked) {
        categoriesContainer.style.visibility = "visible";
      } else {
        categoriesContainer.style.visibility = "hidden";
      }
    })
  
    // Description Generation
    const gen_desc_button = document.getElementById("generate-description");
    gen_desc_button.addEventListener("click", async () => {
      // Get url
      const url = document.getElementById("company-url").value.trim();
      if (url == "") {
        return;
      }

      // Disable all buttons
      const copyButtonDesc = document.getElementById("copy-button-desc");
      const copyButtonCat = document.getElementById("copy-button-cat");
      copyButtonDesc.disabled = true;
      copyButtonCat.disabled = true;
      gen_desc_button.disabled = true;

      // Description result container
      const descriptionResult = document.getElementById("description-result");
      const categoriesResult = document.getElementById("categories-result");

      const categoriesResultSpan = document.getElementById(
        "categories-result-append",
      );

      // Clear categories container
      const test = document
        .createElement("span")
        .appendChild(document.createTextNode(""));
      categoriesResultSpan.replaceChildren(test);

      const descriptionResultSpan = document.getElementById(
        "description-result-append",
      );
      const descriptionText = document.createElement("span");
      descriptionText.id = "description-text";
      descriptionText.className = "text-secondary px-2";
      descriptionText.appendChild(document.createTextNode("Loading..."));
      descriptionResultSpan.replaceChildren(descriptionText);

      // Fetch server to webscrape
      let description = "";
      try {
        const res = await fetch("http://localhost:3000/webscrape", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ url: url, sentences: slider.value }),
        });

        const data = await res.json();
        description = data.description;
      } catch (e) {
        console.error(e);
      }

      // Add result to description result container
      descriptionText.replaceChildren(document.createTextNode(description));
      descriptionText.className = "px-2";
      descriptionResultSpan.replaceChildren(descriptionText);

      copyButtonDesc.disabled = false;
      copyButtonCat.disabled = false;
      gen_desc_button.disabled = false;

      descriptionResult.classList.add("highlight-green");
      setTimeout(() => {
        descriptionResult.classList.remove("highlight-green");
      }, 1500);
      
      // Check for categorization
      if (checkbox.checked && description !== "NONE") {
        // Disable all buttons
        copyButtonDesc.disabled = true;
        copyButtonCat.disabled = true;
        gen_desc_button.disabled = true;

        // Categories result container
        const categoriesResultSpan = document.getElementById(
          "categories-result-append",
        );
        const categoriesText = document.createElement("span");
        categoriesText.id = "categories-text";
        categoriesText.className = "text-secondary px-2";
        categoriesText.appendChild(document.createTextNode("Loading..."));
        categoriesResultSpan.replaceChildren(categoriesText);

        let categories = "";
        try {
          const res = await fetch("http://localhost:3000/categorize", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ description: description }),
          });

          const data = await res.json();
          categories = data.categories;
        } catch (e) {
          console.error(e);
        }

        // Add result to description result container
        categoriesText.replaceChildren(document.createTextNode(categories));
        categoriesText.className = "px-2";
        categoriesResultSpan.replaceChildren(categoriesText);

        copyButtonDesc.disabled = false;
        copyButtonCat.disabled = false;
        gen_desc_button.disabled = false;

        categoriesResult.classList.add("highlight-green");
        setTimeout(() => {
          categoriesResult.classList.remove("highlight-green");
        }, 1500);
      }
    });
  </script>
</html>
